@model jobmanager.Model.IsIlani

<h2>İş İlanı Ekle</h2>

<form method="post">

    <label>Başlık</label>
    <input asp-for="Baslik" class="form-control" />

    <br />

    <label>Açıklama</label>
    <textarea asp-for="Aciklama" class="form-control"></textarea>

    <br />

    <label>Maaş</label>
    <input asp-for="Maas" class="form-control" />

    <br />

    <label>Şehir</label>
    <input asp-for="Sehir" class="form-control" />

    <br />

    <button class="btn btn-success">Kaydet</button>

</form>