@model jobmanager.Model.IsIlani

<h2>İş İlanı Güncelle</h2>

<form method="post">

    <input type="hidden" asp-for="IsIlaniId" />

    <label>Başlık</label>
    <input asp-for="Baslik" class="form-control" />

    <br />

    <label>Açıklama</label>
    <textarea asp-for="Aciklama" class="form-control"></textarea>

    <br />

    <button class="btn btn-primary">
        Güncelle
    </button>

</form>